
.wrap-document {
    position: relative;

    .section-background {
        .section-header {
            position: relative;
            height: 50px;
            margin: 0 0 20px 80px;
            left: 0;

            .section-number {
                position: relative;
                left: 0;
                height: 100%;
                width: 80px;
                bottom: -30px;
                z-index: 3;
                border-radius: 8px;
                /*background-color: #b6d35a;*/
                background-image: linear-gradient(to right bottom, #b6d35a 0, rgba(182, 211, 90, 0.8) 80%, rgba(182, 211, 90, 0.2) 100%);
                font-size: 40px;
                color: #fff;
                font-weight: bold;
                font-family: 'Avenir', Helvetica, Arial, sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .wrap-section {
            margin: 0 80px 0 80px;
            backdrop-filter: blur(8px);
            background-color: rgba(255, 255, 255, 0.0);
        }

        .wrap-section::before {
            content: "";
            position: absolute;
            inset: -12px;
            z-index: -1;
            background: linear-gradient(
                    to bottom right,
                    rgba(255, 255, 255, .62),
                    rgba(255, 255, 255, .78)
            );

            backdrop-filter: blur(20px) saturate(120%);
            border-radius: 18px;
            border: 1px solid rgba(255, 255, 255, 1);
            box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
        }

        .section-tailer {
            position: relative;
            height: 100px;
        }
    }

    /* 标题样式 */

    .section-title {

        text-align: center;
        line-height: 200px;
        height: 200px;
        color: #b6d35a;
        font-size: 50px;
        font-weight: 100;
        margin: 0 0 30px 0;
    }


    .wrap-content {

    }
}

.wrap-figure {
    .figure {
        width: 100%;
    }
}

.intext {
    font-family: "Maple Mono NF CN ExtraLight", monospace;

    font-size: 15px;
    border-radius: 4px;

    background-color: #aababa;
    color: white;
    padding: 0 5px 0 5px;
}

.wrap-code-segment {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    width: 760px;
}

/* 正文 */
.text {
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.8;
    font-family: sans-serif;
}

.wrap-interface {
    .box-interface {
        margin: 10px 5% 10px 5%;
        width: 90%;
        height: auto;

        /* ⬇️ Grid 替代 Flex */
        display: grid;
        grid-template-columns: 80px 1fr;
        column-gap: 12px;
        padding: 0 8px 0 8px;
        justify-content: center;
        align-items: center;


        border-radius: 20px;
        box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.15);

        .key {
            height: 24px;
            background: white;
            border-radius: 12px;

            text-align: center;
            font-family: "Maple Mono NF CN ExtraLight", monospace;
        }

        .value {
            height: 100%;
            color: #ffffff;
        }
    }


}
.input {
    .box-interface {
        background: rgba(200, 161, 197, 0.8);
    }
}

.output {
    .box-interface {
        background: rgba(161, 200, 195, 0.8);
    }
}


#paragraph-1 {
    .wrap-content {
        .wrap-list {
            margin: 30px 80px 30px 80px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 1rem;

            span {
                font-weight: bold;
                text-align: center;
            }
        }

        #list1.wrap-list span {
            width: 25%;
        }

        #list2.wrap-list span {
            width: 33%;
        }
    }
}